


<h1 class="bg-info text-dark text-center">Opearting Living Room</h1>

  <div class="p-5">
    <div class="card" style="width: 18rem; ">
        <img src="https://www.thespruce.com/thmb/WEst9BHwmGGE6AtmKrE5ck4m3t4=/3232x2424/smart/filters:no_upscale()/how-to-arrange-living-room-furniture-1976578-hero-c99074dcad854b669b91652046a39203.jpg" style="height: 400px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Air Conditioner</h5>
   
          <button class="btn btn-success" style="margin-left: 80px;" (click)="increment()">{{count? " Ac is Turned On" : " Ac is Turned Off"}}</button>
        </div>
      </div>
  </div>