

<h1 class="bg-info text-dark text-center">Remote For Living Room</h1>

  <div class="jumbotron p-5">
    <div class="card" style="width: 18rem;">
        <img src="https://image.winudf.com/v2/image1/Y29tLmFjLnJlbW90ZS5haXJfc2NyZWVuXzFfMTU1MDYzNjI3M18wMjA/screen-1.jpg?fakeurl=1&type=.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">AC REMOTE</h5>
      
       <h1 *ngIf="status"></h1>

           <button class="btn btn-success" style="margin-left: 80px;" (click)="clickme()">{{status? "Turn On" : "Turn Off"}}</button> 
       
        </div>
      </div>
  </div>

  